* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Urbanist";
}

html {
    font-size: 62.5%;
}

.container {
    width: 90%;
    max-width: 40rem;
    margin-top: 10rem;
    padding: 30px;
    background: #11998e;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #38ef7d, #11998e);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #38ef7d, #11998e);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    border-radius: 1.2rem;
    -webkit-border-radius: 1.2rem;
    -moz-border-radius: 1.2rem;
    -ms-border-radius: 1.2rem;
    -o-border-radius: 1.2rem;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4f5454;
}

.search-icon {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.search {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

input {
    font-size: 2rem;
    width: 27rem;
    border: none;
    color: rgb(143, 135, 135);
    padding: 0.7rem;
    padding-left: 1rem;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;

}

.search-icon {
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* optional shadow */
    width: 4rem;
    height: 4rem;
}

.search-icon i {
    color: rgb(143, 135, 135);
    font-size: 1.8rem;
}

.search-icon button {
    background-color: white;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*? width: 100% → stretches the image to match the container’s width */

/*? height: 100% → stretches the image to match the container’s height */

.weather-icon {
    margin-top: 6rem;
    width: 14rem;
    height: 14rem;
    /* border: 2px solid red; */

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

h1 {
    font-size: 8rem;
    margin-top: 1rem;
    color: white;
}

h2 {
    color: white;
    font-size: 4rem;
    font-weight: 450;
}

h3 {
    color: white;
    font-size: 3rem;
}

.weather-body {
    flex: 1;
    /* take remaining space */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.weather-info {
    margin-top: 6rem;
    display: flex;
    justify-content: space-between;

    & .humidity {
        display: flex;
        gap: 1rem;
    }

    & .wind-speed {
        display: flex;
        gap: 1rem;
    }
}

.weather-info div img {
    width: 3rem;
    height: 3rem;
}

p {
    font-size: 2rem;
    font-weight: 400;
}

input::placeholder {
    color: #aaa;
    font-style: italic;
}

input:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

@media (width < 430px) {
    html {
        font-size: 54%;
    }
}